<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        <section name="akka"
               type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
    </configSections>
    <connectionStrings>
        <add name="Default" connectionString="Server=.;Database=AkkaTest;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <akka>
        <hocon>
            <![CDATA[
            worker-dispatcher {
                type = ForkJoinDispatcher
                throughput = 100
                dedicated-thread-pool {
                    thread-count = 10
                    #deadlock-timeout = 3s
                    threadtype = background
                }
            }
          akka {
                      persistence {
                 journal {

                    # Path to the journal plugin to be used
                    plugin = "akka.persistence.journal.sql"

                    # In-memory journal plugin.
                    sql {

                        # Class name of the plugin.
                        class = "ConsoleApplication1.Persistence.SqlJournal, ConsoleApplication1"

                        # Dispatcher for the plugin actor.
                        plugin-dispatcher = "akka.actor.default-dispatcher"
                    }
                }
            }
          }
      ]]>
        </hocon>
    </akka>
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
            <parameters>
                <parameter value="mssqllocaldb"/>
            </parameters>
        </defaultConnectionFactory>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
</configuration>
