<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        <section name="akka"
               type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
    </configSections>
    <connectionStrings>
        <add name="Default" connectionString="Server=.;Database=AkkaTest;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <akka>
        <hocon>
            <![CDATA[
            akka {                
                actor {
                    provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
                    deployment {
                        /jobCoordinator/router {
                            router = round-robin-pool
                            nr-of-instances = 100
                            cluster {
                                enabled = on
                                allow-local-routees = off
                                max-nr-of-instances-per-node = 10
                                max-total-nr-of-instances = 10000
                            }
                        }
                    }
                } 
                
                remote {
                    helios.tcp {
                        port = 9876
                        hostname = localhost
                    }
                }
                cluster {
                    seed-nodes = ["akka.tcp://MySystem@localhost:9876"]
                }
            }
      ]]>
        </hocon>
    </akka>
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
            <parameters>
                <parameter value="mssqllocaldb"/>
            </parameters>
        </defaultConnectionFactory>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
</configuration>
